html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.inner {
    max-width: 70%;
    margin: 0 auto;
}
