.posts {
    display: flex;
    flex-wrap: wrap;
}

.blog {
    background: white;
    margin: 1.5rem 3rem 1.5rem 0;
    width: 47%;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
}

.blog--wide {
    width: 100%;
}
.blog__details {
    padding: 0rem 2rem 1.5rem;
}
.blog__details p {
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 0;
}

.blog__header {
    position: relative;
    padding: 0 10px 0 10px;
    text-align: right;
}

.title {
    padding-top: 1rem;
    width: 90%;
    color: black;
    position: relative;
    margin: 0;
    margin-left: 1rem;
    font-size: 3rem;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.title a {
    color: black;
    padding: 0.8rem 0;
    border-bottom: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.author {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 1.5rem;
}
