{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="inner">
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <form method="POST" class='form'>
                    <h2>Update</h2>

                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class='button' type="submit">Update</button>
                </form>
            {% endif %}    
        {% endif %}    
    </div>
{% endblock %}        